<% //文章在首页或单页的显示样式 %>
<article id="<%= post.layout %>-<%= post.slug %>">  <% //post.slug表示文件名,一般和文章名一致 %>
    <% //文章发布日期和评论数%>
    <div class="article-meta">
        <%- partial('post/data', {class_name: 'article-data', date_format: null})%>
    </div>

    <div id="article-inner">
        <% //文章的标题 %>
        <header id="article-header">
            <%- partial('post/title', {class_name: 'article-title'}) %>
        </header>
        <% //文章的标签信息 %>
        <div id="article-info">
            <%- partial('post/category') %>
            <%- partial('post/tag') %>
        </div>
        <% //首页中文章简介 %>
        <div id="article-entry">
            <% if (index && post.excerpt){ %>
                <%- post.excerpt %>
            <% } else { %>
                <%- post.content %>
            <% } %>
        </div>

    </div>
</article>
<% if (!index && post.toc != false ){ %>
    <%- partial('_partial/toc') %>
<% } %>
