<!-- hjy博客的布局头信息 -->
<!DOCTYPE>
<html <% if(page.lang && page.lang != "default"){ %>lang="<%= page.lang %>" <% } %> >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport"  content="width=device-width,initial-scale=1">
    <meta name="author" content="<%= config.author %>">

    <!-- 载入css文件 -->
    <link href="<%- theme.CDN.fontawesome %>" rel="stylesheet">
    <%- css('css/hjy-bootstrap.css') %>
    <%- css('css/docs.min.css') %>

    <!--
    <%- css('css/style') %>
    -->


    <!-- 设置不同页面的页面标题 -->
    <%  var title = page.title;
    if ( is_archive() ) {
            title = 'Archives';
            if ( is_month() ){
                title += ': ' + page.year + '/' + page.month;
            } else if (is_year()){
                title += ': ' + page.year;
            }
        } else if ( is_category() ){
            title = 'Category: ' + page.category;
        } else if ( is_tag() ){
            title = 'Tag: ' + page.tag;
    } %>
    <title><% if ( title ){ %><%= title %> | <% } %><%= config.title %></title>

    

</head>
