<div class="introduce">
    <header id="header" class="inner">
        <!-- 头像 -->
        <a href="<%= config.root %>" >
            <img src="<%- url_for(theme.avatar) %>" class="avatar">
        </a>
        <h2><a href="<%= config.root %>"><%=theme.author%></a></h2>

        <% if (theme.subtitle){ %>
        <p class="header-subtitle"><%=theme.subtitle%></p>
        <%}%>

        <ul class="nav nav-pills nav-justified">
            <li>
                <a href="">
                    <span class="item-state"><%= site.posts.length %></span>
                    <span class="item-state">文章</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="item-state"><%= site.categories.length %></span>
                    <span class="item-state">标签</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="item-state">18</span>
                    <span class="item-state">读书</span>
                </a>
            </li>
        </ul>

        <!-- 社交图标 -->
        <ul class="list-inline">
            <% for (var i in theme.subnav){ %>
            <li>
                <a href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-<%= i %> fa-stack-1x fa-inverse" aria-hidden="true"></i>
                </a>
            <%}%>
        </ul>

        <hr>
        <!-- 研究涉及领域 -->
        <% if (is_home()){%>
        <section>
            <div class="tags">
                <% site.tags.map(function(tag){  %>
                <% if(tag.length >= theme['featured-condition-size']) { %>
                <a href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>" rel="<%= tag.length %>">
                    <span class="tag"><%= tag.name %></span>
                </a>
                <% } %>
                <% }) %>
            </div>
        </section>

        <!-- 网站访问 -->
        <p class="header-subtitle">本站访客数：110 人次</p>
        <p class="header-subtitle">本站访问量：1102 次</p>
        <%}else{%>
            显示目录
        <%}%>

    </header>
</div>
